* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  min-height: 100vh;
  background-color: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  margin-bottom: 40px;
}

.border {
  border: 1px solid black;
}

main {
  background-color: #f4fafa;
  border-radius: 24px;
  font-family: "Space Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

main .INPUT {
  border-radius: 14px;
  padding: 1.7rem 1.7rem 1.7rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .INPUT .info-input {
  padding: 0.5em 0 0.5em 0;
}

main .INPUT .info-input input {
  font-size: 24px;
  border: 0px;
  background-color: rgba(94, 122, 125, 0.1);
  padding: 0.3em 0.8em 0.3em 0.3em;
}

main .INPUT .info-input input[type="text"] {
  width: 100%;
  font-family: "Space Mono", monospace;
}

main .INPUT .options-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 120px 120px;
      grid-template-columns: 120px 120px 120px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px;
}

main .INPUT .options-container .option {
  background-color: #00494d;
}

main .INPUT .options-container ::-webkit-input-placeholder {
  color: #00494d;
  text-align: center;
}

main .INPUT .options-container :-ms-input-placeholder {
  color: #00494d;
  text-align: center;
}

main .INPUT .options-container ::-ms-input-placeholder {
  color: #00494d;
  text-align: center;
}

main .INPUT .options-container ::placeholder {
  color: #00494d;
  text-align: center;
}

main .INPUT .options-container .percentage {
  border: 0px;
  font-family: "Space Mono", monospace;
  padding: 0.3em 0 0.3em 0;
  color: #f4fafa;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
}

main .INPUT .comp-font {
  opacity: 55%;
}

main .OUTPUT {
  border-radius: 14px;
  padding: 1.7rem 1.7rem 1.7rem 1.7rem;
  background-color: #00494d;
  position: relative;
  font-size: 0.6rem;
}

main .OUTPUT .tip-amount-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

main .OUTPUT .tip-amount-person p {
  padding-right: 3em;
  color: #c5e4e7;
}

main .OUTPUT .tip-amount-person p::first-line {
  opacity: 100%;
}

main .OUTPUT .tip-amount-person label {
  color: #26c0ab;
  font-size: 1.5rem;
  font-weight: 700;
}

main .OUTPUT button {
  width: 100%;
  font-size: 1rem;
  position: relative;
  font-weight: 700;
  bottom: -170px;
  border-radius: 8px;
  padding: 0.3em 0 0.3em 0;
  border: 0px;
  color: #00494d;
  background-color: rgba(44, 216, 193, 0.1);
}

main .comp-font {
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.5em 0 0.5em 0;
}

main .number-inputs {
  text-align: right;
}

label {
  display: block;
}

button {
  display: block;
}

@media screen and (max-width: 880px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5em;
  }
  main .INPUT {
    padding: 0;
    padding-bottom: .8em;
  }
  main .OUTPUT #reset-btn {
    top: 20px;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 20px;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
  }
  main .INPUT .options-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  main .OUTPUT {
    padding: 1.2em 1.5em;
  }
  main .OUTPUT .tip-amount-person p {
    padding-right: 1.2em;
  }
  main .OUTPUT #reset-btn {
    top: 0;
  }
}
/*# sourceMappingURL=main.css.map */