@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
}

/*----------------------------------*/
*,*:focus,*:hover{
    outline:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/*----------------------------------*/

html {
    font-size: $input-font-size;
}
body {
    min-height: 100vh;
    background-color: $light-grayish-cyan1;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo {
    margin-bottom: 40px;
}
main {
    background-color: $light-grayish-cyan2;
    border-radius: $input-font-size;
    font-family: $font;
    display: flex;
    padding: 1rem;
    .INPUT {
        border-radius: 14px;
        padding: 1.7rem 1.7rem 1.7rem 1.7rem;
        display: flex;
        flex-direction: column;
        .info-input {
            padding: 0.5em 0 0.5em 0;
            position: relative;
            input {
                font-size: $input-font-size;
                background-color: $dark-grayish-cyan1;
                border: 2px solid $dark-grayish-cyan1;
                padding: 0.3em 0.8em 0.3em 0.3em;
            }
            input:focus{
                border: 2px solid $strong-cyan;
            }
            input[type="number"] {
                width: 100%;
                font-family: $font;
            }
            img{
                position: absolute;
                top: 3em;
                left: .7em;
            }
            #error{
                color: red;
                position: absolute;
                right: 3em;
                top: 1.4em;
                font-size: .7rem;
            }
        }
        .options-container {
            display: grid;
            grid-template-columns: 120px 120px 120px;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
            .percentage {
                background-color: $very-dark-cyan;
                border: 0px;
                font-family: $font;
                color: $light-grayish-cyan2;
                border-radius: 8px;
                font-size: 1rem;
                font-weight: 700;
            }
            .percentage:active{
                background-color: $strong-cyan;
            }
            .custom{
                font-size: 1rem;
                border-radius: 8px;
                border: 2px solid $light-grayish-cyan1;
                font-family: $font;
            }
            .percentage::placeholder{
                color: $very-dark-cyan;
                text-align: center;
            }
        }
        .comp-font {
            opacity: 55%;
        }
    }
    .OUTPUT {
        border-radius: 14px;
        padding: 1.7rem 1.7rem 1.7rem 1.7rem;
        background-color: $very-dark-cyan;
        position: relative;
        font-size: 0.6rem;
        .tip-amount-person {
            display: flex;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            justify-content: space-between;
            font-weight: 700;
            p {
                padding-right: 3em;
                color: $light-grayish-cyan1;
            }
            p::first-line {
                opacity: 100%;
            }
            label {
                min-width: 7rem;
                color: $strong-cyan;
                font-size: 1.5rem;
                font-weight: 700;
                text-align: right;
            }
        }
        button {
            width: 100%;
            font-size: 1rem;
            position: relative;
            font-weight: 700;
            bottom: -170px;
            border-radius: 8px;
            padding: 0.3em 0 0.3em 0;
            border: 0px;
            color: $very-dark-cyan;
            background-color: hsla(172, 69%, 51%, 0.1);
        }
        button:active{
            background-color: $strong-cyan;
        }
    }
    .comp-font {
        font-size: 0.7rem;
        font-weight: 700;
        padding: 0.5em 0 0.5em 0;
    }
    .number-inputs{
        text-align: right;
        padding-right: 2em;
        color: $very-dark-cyan;
        font-weight: 700;
    }
}
label {
    display: block;
}
button {
    display: block;
}
@media screen and (max-width:880px){
    main{
        flex-direction: column;
        padding: 1.5em;
        .INPUT{
            padding: 0;
            padding-bottom: .8em;
        }
        .OUTPUT{
            #reset-btn{
                top: 20px;
            }
        }
    }
}
@media screen and (max-width: 475px){
    html{
        font-size: 20px;
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
        width: 350px;
        .INPUT{
            .options-container{
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        .OUTPUT{
            padding: 1.2em 1.5em;
            .tip-amount-person{
                p{
                    padding-right: 1.2em;
                }
            }
            #reset-btn{
                top: 0;
            }
        }
    }
}
